<div ng-controller="AppMessageCtrl">
	<div class="row-fluid">
	
		<div th :if="${message !=null}">
			<table class="table table-striped table-bordered table-condensed"
				id="usertable">
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Time</th>
						<th>User Name</th>
						<th>Payment Status</th>
					</tr>
				</thead>
				<tbody>
					<tr class="list-delivered" th:each="appMessage : ${message} ">
	
						<td th:text="${appMessage.order.orderId}">Order Id</td>
						<td th:attr="id='cancelledAppMessageTime'+${appMessage.messageId}" th:text="${appMessage.Time}">Time</td>
						<td th:attr="id='cancelledAppMessageName'+${appMessage.messageId}" th:text="${appMessage.user.name}" class="notranslate">Name</td>				
					<!-- <td>
						<p data-placement="top" data-toggle="tooltip" title="Paid/Unpaid">
              				<button  id="btn-paid"  ng-click="enableDisableCurrentProduct(product)"  ng-class="{'btn btn-danger btn-xs': product.status, 'btn btn-success': !product.status}" data-title="displayStatus()" data-toggle="modal">{{ displayStatus() }}</button>
           				 </p> -->
           				<!--   <td th:attr="id='deliveredPaymentStatus'+${appMessage.order.isPaid}" th:text="${appMessage.order.isPaid}" class="notranslate">Paid</td>
						</td> -->
						<td>
						<button  id="btn-paid" th:text = "${appMessage.order.text}" th:attr = "ng-click = 'paidOrder(\''+${appMessage.order.orderId}+'\');', ng-class='{\'btn btn-danger btn-xs\': !\''+${appMessage.order.isPaid}+'\', \'btn btn-success\': \''+${!appMessage.order.isPaid}+'\'} '"   data-toggle="modal" ></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<div th:if="${message == null}">
			<b>No New Message </b>
	
		</div>
	</div>
	<script>
		function paidOrder(isPaid) {
			console.log()
		}
	</script>
</div>