 <html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Bill</title>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		
		<title ng-bind="title">RuralIVRS - Welcome</title>
	    
	    <meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="Rural IVRS Web application." name="description">
		<meta content="IIT Bombay" name="author">
		<style media ="print" type="text/css">
          td{
                min-width: 2px;
                max-width: 200px;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto; 
            }

           col-xs-12, td, th {
                 padding: 6px;
                 min-width: 2px;
                 max-width: 150px;
            }
           table, th, td {
    			border: 1px solid black;
    			border-collapse: collapse;
			}	
			
			
			
		</style>
		
	
        <style>
            table, th, td {
    			border: 1px solid black;
    			border-collapse: collapse;
			}
        </style></head>
<body style="font-family:Times New Roman; font-size:7">
	<div class="container-fluid">
		<div class="row-fluid col-xs-12" style="text-align:center">
			<div th: if="${orderWithPhoneNumbers !=null}">	
				<div class="table-responsive col-xs-6"  th:each="orderWithPhoneNumber: ${orderWithPhoneNumbers}">
			<!--  	<div class="table-responsive col-xs-6"  th:each="order: ${orders}">  -->
					<table class="table table-striped">
						<thead>
							
								<td colspan="2" style="text-align:center">
									<b>
										<div th:text="${orderWithPhoneNumber.order.organization.name}">IITBombay</div>
									</b>
									<div th:text="${orderWithPhoneNumber.order.organization.address}">new address</div>
									<div th:text="${orderWithPhoneNumber.order.organization.contact}">919867898765</div>
									<div th:text="${billLayout.headerContent}">AFC Pune</div>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
								
									<div><b>Member: </b></div>
									<div th:text="${orderWithPhoneNumber.order.message.user.name}"></div>
									
								</td>
								<td>
								
								
								
								<div><b>Address: </b></div>
								<div th:text="${orderWithPhoneNumber.order.message.user.address}"></div>
								
							 	<div><b>Phone Number: </b></div>
								<div th:text="${orderWithPhoneNumber.phone}"></div>  
								
								<!--  	<div><b>Group Name: </b></div>
									<div th:text="${order.message.group.name}"></div>		-->	
								</td>
							</tr>
							<tr>
								<td>
									<div><b>Order Id: </b></div>
									<div th:text="'#' + ${orderWithPhoneNumber.order.orderId}">#150</div>
									
								</td>
								<td>
									<div><b>Time: </b></div>
									<!--  
								 	<script type="text/javascript">
								 	
								 	
									var string1 = "${orderWithPhoneNumber.order.message.time}";
									string1 =	string1.substr(0,15);
									$(document).ready(function(){
										alert("ahahhahah");
										$("#demo").text(string1);
									});
  									
                                    </script>  
									
								
									<div id = "demo"></div>		-->
									
										<div th:text="${orderWithPhoneNumber.timeInHoursAndMinutes}">2015-10-09 11:23</div>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<table class="col-xs-12">
									 
										<thead>
											<tr><th>Product</th>
											<th>Quantity</th>
											<th>Rate (In  <i class=" fa fa-inr"></i>)</th>
											<th>Cost (In  <i class=" fa fa-inr"></i>)</th>
										
										</tr></thead><tbody>
											<tr th:each="orderItem : ${orderWithPhoneNumber.order.orderItems}">
												<td th:text="${orderItem.product.name}"></td>
												<td style="text-align:right" th:text="${orderItem.quantity}"></td>
												<td style="text-align:right" th:text="${orderItem.unitRate}"></td>
												<td style="text-align:right" th:text="${orderItem.quantity * orderItem.unitRate}"></td>
											</tr>
										</tbody>
									</table>			
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<table width="100%">
										<tbody>
											<tr>
												<th>Total (In  <i class=" fa fa-inr"></i>)</th>
										<!-- 		<td style="text-align:right" th:text="${total[orderStat.index]}">57.5</td>  -->
										           <td style="text-align:right" th:text="${total[orderWithPhoneNumberStat.index]}">57.5</td> 
											</tr>
		
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div style="text-align:center" th:text="${billLayout.footerContent}" >Thank you</div>
								</td>
							</tr>
						</tbody>
					</table>
				
			</div>
			</div>
			<div th:if="${orderWithPhoneNumbers.size() == 0}"> 
				<h1>No Orders </h1>
			</div> 
		</div>
	</div>
			
 <!--  
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  -->
</body>